
/* Overlay */
/* ============================================================ */

.anti-modal-overlay {
  background: rgba(0,0,0,0.75);
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 65536;
}


/* Box */
/* ============================================================ */

.anti-modal-box {
  width: 500px;
  min-height: 50px;
  margin: 100px auto 0px auto;

  background: #f0f0f0;
  color: #303030;

  font-family: sans-serif;
}

.anti-modal-box-narrow {
  width: 300px;
}

.anti-modal-overlay .anti-modal-box {
  border: 1px solid #000;
  box-shadow: 0px 0px 5px rgba(0,0,0,1);
}



/* Header */
/* ============================================================ */

.anti-modal-header {
  position: relative;
  height: 48px;
  font-size: 20px;
  line-height: 48px;
  background: #f0f0f0;
  color: #aaa;
  text-align: center;
}

.anti-modal-overlay .anti-modal-header {
  text-align: left;
}

.anti-modal-title {
  display: inline-block;
  padding: 0px 16px;
}

.anti-modal-closer {
  display: none;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 48px;

  cursor: pointer;
}

.anti-modal-overlay .anti-modal-closer {
  display: block;
}



/* Body */
/* ============================================================ */


.anti-modal-body {
  padding: 20px 20px 20px 20px;
}



/* Footer */
/* ============================================================ */

.anti-modal-footer {
  text-align: right;
  height: 48px;
  line-height: 48px;
  padding: 0px 8px;
  /*border-top: 1px solid rgba(0,0,0,0.75);*/
  background: #e0e0e0;
}


/* Form elements */
/* ============================================================ */

.anti-modal-button {
  display: inline-block;
  vertical-align: middle;

  padding: 0px 20px;
  margin-right: 8px;
  height: 32px;
  line-height: 32px;
  background: #606060;
  color: #f0f0f0;
  border-radius: 3px;
  cursor: pointer;

  font-size: 14px;
  border: 0px solid #000;
}

.anti-modal-button:hover {
  background: #808080;
  color: #ffffff;
}

.anti-modal-button-action {
  background: #80c020;
}

.anti-modal-button-action:hover {
  background: #b0e060;
}


input[type=text].anti-modal-prompt {
  background: #ffffff;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  padding: 0px 6px;
  color: #333;
  margin-top: 8px;
  border: 0px;
  border-radius: 5px;
  box-shadow: -1px -1px 3px rgba(0,0,0,0.125) inset;
}

