
.crater-overlay {
  background: rgba(0,0,0,0.75);
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}


.crater-alert-box {
  width: 500px;
  min-height: 50px;
  margin: 100px auto 0px auto;

  background: #f0f0f0;
  color: #303030;
  box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.125), 0px 0px 0px 2px rgba(255,255,255,0.125);
}



.crater-alert-header {
  position: relative;
  height: 48px;
  font-size: 20px;
  line-height: 48px;
  background: #f0f0f0;
  

  /*border-bottom: 1px solid rgba(0,0,0,0.75);*/
}

.crater-alert-title {
  display: inline-block;
  padding: 0px 20px;
}

.crater-alert-closer {
  display: block;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 48px;
}

.crater-alert-body {
  padding: 20px 20px 50px 20px;
}

.crater-alert-footer {
  text-align: right;
  height: 48px;
  line-height: 48px;
  padding: 0px 20px;
  /*border-top: 1px solid rgba(0,0,0,0.75);*/
  background: #e0e0e0;
}



.crater-alert-button {
  display: inline-block;
  padding: 0px 20px;
  margin: 0px 10px;
  height: 32px;
  line-height: 32px;
  background: #606060;
  color: #f0f0f0;
  border-radius: 3px;
  cursor: default;
}

.crater-alert-button:hover {
  background: #808080;
  color: #ffffff;
}

.crater-alert-button-action {
  background: #80c020;
}

.crater-alert-button-action:hover {
  background: #b0e060;
}


input[type=text].crater-alert-prompt {
  background: #ffffff;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  padding: 0px 3px;
  color: #303030;
}

